{% extends "base.html" %}

{% block content %}
<div class="card">
    <h2>Find Skills</h2>
    <p>Top skills available now:</p>
</div>

<div class="card">
    <h3>📱 Graphic Design</h3>
    <p>Teacher: Ada | Location: PH | ₦5000/hr</p>
    <button class="btn">Contact Teacher</button>
</div>

<div class="card">
    <h3>💻 Web Development</h3>
    <p>Teacher: Izu | Location: Online | ₦8000/hr</p>
    <button class="btn">Contact Teacher</button>
</div>

<div class="card">
    <h3>🎤 Music Production</h3>
    <p>Teacher: Daniel | Location: PH | ₦6000/hr</p>
    <button class="btn">Contact Teacher</button>
</div>
{% endblock %}
