{% extends "base.html" %}

{% block content %}
<div class="card">
    <h2>Login</h2>
    <form>
        <input type="email" placeholder="Email" required style="width:100%; padding:12px; margin:10px 0; border-radius:8px; border:1px solid #334155; background:#0f172a; color:white;">
        <input type="password" placeholder="Password" required style="width:100%; padding:12px; margin:10px 0; border-radius:8px; border:1px solid #334155; background:#0f172a; color:white;">
        <button class="btn" type="submit">Login</button>
    </form>
    <p>Don't have account? <a href="{{ url_for('signup') }}" style="color:var(--accent)">Sign Up</a></p>
</div>
{% endblock %}
