{% extends "base.html" %}

{% block content %}
<div class="card">
    <h2>Become a Teacher</h2>
    <p>List your skill and start earning</p>
    <form>
        <input type="text" placeholder="Skill Name e.g. Hair Braiding" style="width:100%; padding:12px; margin:10px 0; border-radius:8px; border:1px solid #334155; background:#0f172a; color:white;">
        <input type="text" placeholder="Price per hour e.g. 5000" style="width:100%; padding:12px; margin:10px 0; border-radius:8px; border:1px solid #334155; background:#0f172a; color:white;">
        <textarea placeholder="Describe your skill" rows="4" style="width:100%; padding:12px; margin:10px 0; border-radius:8px; border:1px solid #334155; background:#0f172a; color:white;"></textarea>
        <button class="btn" type="submit">List My Skill</button>
    </form>
</div>
{% endblock %}
